#root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    /* No text selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

button {
    outline-style: none;
}

.main_wrapper, .income_wrapper, .expense_wrapper{
    background: #ffffff;

    min-height: 100%;
    height: min-content;
    width: 100%;

    
}
/* Test for mobile screen */
@media only screen and (max-width: 768px){

}